#new_am {
    width:25%;
    border: none;

}


#contain {
    display:block;
    font-family: 'Roboto', sans-serif;

   
}

.card_body {
    text-align:left;

}

#button1 {
    background-color: sandybrown;

}

#button2 {
    background-color: darkgrey;
}

